.UserList--box{
    background-color: var(--cream-color);
    color: var(--dark-color);
    width: 100%;
}

.listItem--card{
    display: flex;
    padding: 0.5rem 1rem;
    width: 100%;
}

.listItem--card:hover{
    background-color: rgb(229, 226, 226);
}

.sidebar--button{
    padding: 1rem;
    background-color: var(--cream-color);
    color: var(--blue-color);
    font-weight: bold;
    border-radius: 5px;
}

.sidebar--button:hover{
    color: var(--dark-color);
}
